@font-face { font-family: Graphik; src: url('/assets/css/fonts/Graphik-Medium.woff');}
body {
	padding: 0;
	margin: 0;
	font-family: Graphik;
	letter-spacing: 2px;
}

.overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100%;
	z-index: 1000;	
	background-color: #F8F8F9;
	cursor: zoom-out;
	overflow: auto;
}

.app-container {
	position: relative;
}

.product-container {
	display: flex;
	justify-content: space-around;
	background-color: #F8F8F9;
	height: 500vh;
	position: relative;
}

.text{
	z-index: 1;
	width: 267px;
	/*top: 192px;*/
	/*top: 2887px;*/
}

.product-text {
	width: 267px;
	height: 100vh;
	line-height: 150%;
	padding-left: 30px;
	position: relative;
	left: -83px;
}

/*CENTER PRODUCT IMAGE*/
.zoomed-img-container {
	width: 90%;
	padding-top: 30px;
	height: 100%;
	margin: 0 auto;
	background-color: #F8F8F9;
}

.zoomed-img {
	height: 200vh !important;
}

.product-image-scroll {
	width: 33.3%;
	max-height: 100vh;
	position: relative;
  left: -319px;
}

.product-image-scroll:hover {
	cursor: zoom-in;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.img-container {	
	height: 100%;
	width: 100%;
}

.img-1 {
	background-image: url('/assets/css/images/highwaist_black_front_1024x1024 (1).jpg');
}
.img-2 {
	background-image: url('/assets/css/images/highwaist_black_back_1024x1024.jpg');
}
.img-3 {
	background-image: url('/assets/css/images/highwaist_black_front_4_1024x1024.jpg');
}
.img-4 {
	background-image: url('/assets/css/images/highwaist_black_front_2_1024x1024.jpg');
}
.img-5 {
	background-image: url('/assets/css/images/highwaist_black_side_1024x1024.jpg');
}
.img-6 {
	background-image: url('/assets/css/images/highwaist_black_front_3_1024x1024.jpg');
}

.img-1, 
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {	
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
	height: 100vh;
	width: 100%;
}

/*FORM*/
.product-form {
	width: 300px;
	display: flex;
	flex-direction: column;
	padding-right: 30px;
	right: 120px;
}

.product-form div,a,input {
	margin-bottom: 15px;
}

.product-form a {
	color: black;
}

.form-box {
	border: 1px solid black;
	display: flex;
	height: 28px;
}

.col-container:last-child {
 border-right: none;
}

.col-container {
	width: 33.3%;
	margin: 0 !important;
	border-right: 1px solid black;
	display: flex;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
}

.col-container i {
	font-size: 25px;
}

.black {
	background-color: black;
	color: #fff;
	cursor: pointer;
}

.beige {
	background-color: #FEDBB5;
	cursor: pointer;
}

.item-quantity p {
	margin: 0;
	width: 15%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-quantity i {
	cursor: pointer;
}

.quantity {
	width: 70% !important;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.drop-down-menu {
	cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.drop-down-menu p, i {
	padding: 0;
	display: inline-block;
	margin: 0; 
}

.drop-dwn-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 88%;
	height: 100%;
	margin-left: 27px;
	margin-bottom: 0 !important;
}

.dropdown-sizes {
	display: none;
  position: absolute;
  top: 24px;
  background-color: #F8F8F9;
  min-width: 298px;
  border: 1px solid black;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
}

.dropdown-sizes p {
  font-size: 13px;
	padding: 5px 16px;
  display: block;
}

.dropdown-sizes p:hover {
	background-color: #dfdfe0;
} 

.drop-down-menu:hover .dropdown-sizes {
	display: block;
}

.size-lnk {
	font-size: 9px;
}

.add-to-cart {
	align-self: center;
	width: 100%;
	text-align: center;
}

.add-to-cart p {
	margin: auto; 
}

.cycle-link {
	font-size: 0.8em;
}
/*SHOP SECTION*/
.shop-image-container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding-top: 53px;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	/*z-index: 1000;*/
}

.shop-image-container a {
	color: black;
	font-size: 1.1em;
  padding-top: 30px;
  display: block;
  font-weight: normal;
}

.shop-image-container p {
	font-size: 13px;
}

.hip-hug,
.sport {
	width: 36%;
	margin-top: 94px;
	margin-bottom: 53px;
	margin-left: 46px
}

.cheeky,
.boyshort {
	width: 25%;
	margin-bottom: 53px;
	margin-right: 46px;
}

.thong {
	width: 43%;
	margin-left: 200px;
  margin-right: 200px;
	margin-bottom: 53px;
}

.hip-hug img,
.thong img,
.cheeky img,
.boyshort img,
.sport img {
	width: 100%;
	height: auto;
}

